:root {
  /* Colours */
  --color-text: #f3f1f1;
  --color-primary: #333030;
  --color-secondary: #110e12ce;
  --color-dark: #6a666ce6;
  --color-bg: #625f5f7e;

  /* Fonts */
  --font-roboto: "Roboto";
}
